### Codio Activity 19.5: Distance Based Recommendations

**Expected Time = 60 minutes**

**Total Points = 40**

As another example of recommendation approaches, this assignment applies a distance-based approach to recommendations using the idea of **cosine distance**. Using information about users and items, you will create an item distance matrix. Using these distances, you will make recommendations for users based on similar items to those they have rated highly.

#### Index

- [Problem 1](#-Problem-1)
- [Problem 2](#-Problem-2)
- [Problem 3](#-Problem-3)
- [Problem 4](#-Problem-4)
- [Problem 5](#-Problem-5)
- [Problem 6](#-Problem-6)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/movie_ratings_19_5.csv", index_col=0)

In [3]:
df.head()

      movieId            title  userId  rating
5319      185  Clueless (1995)     201     3.0
5320      185  Clueless (1995)     219     2.0
5321      185  Clueless (1995)     227     3.0
5322      185  Clueless (1995)     229     4.0
5323      185  Clueless (1995)     232     3.0

[Back to top](#-Index)

### Problem 1

#### Pivot Matrix

**10 Points**

Below, use the DataFrame and the `pivot_table` function in pandas to create a table where the rows are the movie titles, columns are user ID's and the values are the associated ratings of the movies. 


**Note**: Be sure to fill the missing values of the `piv_df` with 0 using `.fillna(0)` before finding distances.

`pivot_table` [documentation](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)

In [4]:
### GRADED
piv_df = pd.pivot_table(
    df, index="title", columns="userId", values="rating", fill_value=0
)

### ANSWER CHECK
piv_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Clueless (1995),0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,0.0,...,0.0,3.0,0.0,4.0,0.0,0.0,0.0,3.0,3.0,0.0
Coach Carter (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0
Coal Miner's Daughter (1980),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zootopia (2016),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
Zulu (1964),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eXistenZ (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

[Back to top](#-Index)

### Problem 2

#### Cosine Distance

**10 Points**

To determine the similarity of movies, you can consider the distance between two movie arrays.  Below, use the scikitlearn implementation of `pairwise_distances` using the `cosine` as the metric.  Assign the results as `distance_array`.

In [5]:
from sklearn.metrics.pairwise import pairwise_distances

In [6]:
### GRADED
distance_array = pairwise_distances(piv_df, metric="cosine")


### ANSWER CHECK
distance_array

array([[0.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 2.22044605e-16, 8.84360217e-01, ...,
        1.00000000e+00, 9.21470442e-01, 1.00000000e+00],
       [1.00000000e+00, 8.84360217e-01, 0.00000000e+00, ...,
        9.06242690e-01, 8.03393295e-01, 1.00000000e+00],
       ...,
       [1.00000000e+00, 1.00000000e+00, 9.06242690e-01, ...,
        0.00000000e+00, 8.50909799e-01, 1.00000000e+00],
       [1.00000000e+00, 9.21470442e-01, 8.03393295e-01, ...,
        8.50909799e-01, 0.00000000e+00, 9.45197115e-01],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        1.00000000e+00, 9.45197115e-01, 0.00000000e+00]])

[Back to top](#-Index)

### Problem 3

#### Create a Distance DataFrame

**10 Points**

Using your distance array, create a DataFrame with both index and column names as the movie names.

In [7]:
### GRADED
dist_df = pd.DataFrame(distance_array, columns=piv_df.index, index=piv_df.index)

### ANSWER CHECK
dist_df.head()

title,'Round Midnight (1986),'Til There Was You (1997),Clueless (1995),Coach Carter (2005),Coal Miner's Daughter (1980),Cobb (1994),Cobra (1986),Cocaine Cowboys (2006),Cocktail (1988),Coco (2017),...,Zombieland (2009),"Zone, The (La Zona) (2007)",Zookeeper (2011),Zoolander (2001),Zoolander 2 (2016),Zootopia (2016),Zulu (1964),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005)
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),0.0,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,0.967259,1.000000,1.000000,1.0,1.000000,1.000000,1.0
'Til There Was You (1997),1.0,2.220446e-16,0.884360,1.000000e+00,1.000000,1.000000,1.000000,1.000000,0.862171,1.000000,...,1.000000,1.0,1.000000,0.893782,1.000000,0.907731,1.0,1.000000,0.921470,1.0
Clueless (1995),1.0,8.843602e-01,0.000000,9.449909e-01,0.937616,0.888982,0.970826,1.000000,0.911382,0.945281,...,0.913059,1.0,0.974194,0.835638,1.000000,0.947219,1.0,0.906243,0.803393,1.0
Coach Carter (2005),1.0,1.000000e+00,0.944991,1.110223e-16,1.000000,1.000000,1.000000,0.816326,0.885037,0.880089,...,1.000000,1.0,1.000000,0.748878,0.781806,0.923039,1.0,0.781258,0.938593,1.0
Coal Miner's Daughter (1980),1.0,1.000000e+00,0.937616,1.000000e+00,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,0.947376,1.000000,1.000000,1.0,1.000000,0.863828,1.0

[Back to top](#-Index)

### Problem 4

#### Using the Distances to make recommendations

**10 Points**

Use the `dist_df` to decide what movie you would recommend to a user who rated `'xXx (2002)'` highly -- aka what is the most similar movie?

In [8]:
dist_df.loc["xXx (2002)", :].sort_values().index[1]

'Time Bandits (1981)'

In [9]:
### GRADED
recommendation = dist_df.loc["xXx (2002)", :].sort_values().index[1]
recommendation

'Time Bandits (1981)'