## Codio Activity 7.6: Multiple Linear Regression

**Expected Time = 60 minutes**

**Total Points = 20**

This assignment focuses on building a regression model using multiple features.  Using a dataset from the `seaborn` library, you are to build and evaluate regression models with 1, 2, and 3 features.

## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

### The Dataset

Below, a dataset containing information on diamonds is loaded and displayed.  Your task is to build a regression model that predicts the price of the diamond given different features as inputs.

In [13]:
diamonds = sns.load_dataset("diamonds")

In [14]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

[Back to top](#Index:) 

## Problem 1

### Regression with single feature

**5 Points**

Use sklearn's `LinearRegression` estimator to build a regression model using `carat` as the feature and `price` as the target.  Set the `fit_intercept = False`, and be sure your fit model is assigned to the variable `lr_1_feature` below.

In [15]:
### GRADED

lr_1_feature = LinearRegression(fit_intercept=False).fit(
    diamonds[["carat"]], diamonds["price"]
)

# Answer check
print(lr_1_feature)

LinearRegression(fit_intercept=False)

[Back to top](#Index:) 

## Problem 2

### Regression with two features

**5 Points**

Use sklearn's `LinearRegression` estimator to build a regression model using `carat` and `depth` as the features and `price` as the target.  Set the `fit_intercept = False`, and be sure your fit model is assigned to the variable `lr_2_features` below.

In [16]:
### GRADED

lr_2_features = LinearRegression(fit_intercept=False).fit(
    diamonds[["carat", "depth"]], diamonds["price"]
)

# Answer check
print(lr_2_features)

LinearRegression(fit_intercept=False)

[Back to top](#Index:) 

## Problem 3

### Regression with three features

**5 Points**

Use sklearn's `LinearRegression` estimator to build a regression model using `carat`, `depth`, and `table` as the features and `price` as the target.  Set the `fit_intercept = False`, and be sure your fit model is assigned to the variable `lr_3_features` below.

In [17]:
### GRADED

lr_3_features = LinearRegression(fit_intercept=False).fit(
    diamonds[["carat", "depth", "table"]], diamonds["price"]
)


# Answer check
print(lr_3_features)

LinearRegression(fit_intercept=False)

[Back to top](#Index:) 

## Problem 4

### Computing MSE and MAE

**5 Points**

For each of your models, compute the mean squared error and mean absolute errors.  Create a DataFrame to match the structure below:

| Features | MSE | MAE |
| ----- | ----- | ----- |
| 1 Feature |  -  | - |
| 2 Features | -  | -  |
| 3 Features | - | - |

Assign your solution as a DataFrame to `error_df` below.  Note that the `Features` column should be the index column in your DataFrame.

In [24]:
### GRADED

# Predictions for each 1, 2, and 3d fits
predict_1 = lr_1_feature.predict(diamonds[["carat"]])
predict_2 = lr_2_features.predict(diamonds[["carat", "depth"]])
predict_3 = lr_3_features.predict(diamonds[["carat", "depth", "table"]])

mses = [
    mean_squared_error(diamonds["price"], prediction)
    for prediction in [predict_1, predict_2, predict_3]
]

maes = [
    mean_absolute_error(diamonds["price"], prediction)
    for prediction in [predict_1, predict_2, predict_3]
]

error_df = pd.DataFrame(
    {
        "Features": ["1 Feature", "2 Features", "3 Features"],
        "MSE": mses,
        "MAE": maes,
    }
)

error_df = error_df.set_index("Features")

# Answer check
error_df

                     MSE          MAE
Features
1 Feature   3.725919e+06  1540.192000
2 Features  2.385353e+06  1005.858111
3 Features  2.376565e+06  1002.337314