### Codio Activity 4.5: String Operations


**Expected Time: 60 Minutes**

**Total Points: 20**


For this activity, you will focus on using string methods on `pandas` series.  Following the examples from video 4.8, a wikipedia page on the states of the russian federation will be the dataset.  Below is a map of the boundaries for the states. 

#### Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)

![](https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Map_of_federal_subjects_of_Russia_%282014%29.svg/1380px-Map_of_federal_subjects_of_Russia_%282014%29.svg.png)

### Getting the Data

Below, we access the data directly using the url and the `read_html` method from `pandas`.  This method reads any table from a web url in as a list of dataframes.  The data we are interested in is located in the fifth table on the page so we index the list of data accordingly below.

In [1]:
import pandas as pd

/tmp/ipykernel_28313/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
russian_states = pd.read_csv('data/russian_states.csv', index_col = 0)

In [3]:
russian_states.head()

,Code,Name,Capital/Administrative centre[a],Flag,Coatof arms,Type,Federal district,Economic region,Area(km2)[16],Population[17],Populationdensity(/km2),Yearestablished
0,1,"Adygea, Republic of",Maykop,NaN,NaN,republic,Southern,North Caucasus,7600,447109,58.83,1922
1,2,"Bashkortostan, Republic of",Ufa,NaN,NaN,republic,Volga,Ural,143600,4104336,28.58,1919
2,3,"Buryatia, Republic of",Ulan-Ude,NaN,NaN,republic,Far Eastern,East Siberian,351300,981238,2.79,1923
3,4,Altai Republic,Gorno-Altaysk,NaN,NaN,republic,Siberian,West Siberian,92600,202947,2.19,1922
4,5,"Dagestan, Republic of",Makhachkala,NaN,NaN,republic,North Caucasian,North Caucasus,50300,2576531,51.22,1921

[Back to top](#Index:) 

### Problem 1

#### Using the `contains` method

**5 Points**

Use the string method `contains` to subset the data based on entries in the Economic Region column containing `Siberian`.  Assign your response as a DataFrame to `ans1` below.

In [4]:
### GRADED

ans1 = russian_states[russian_states["Economic region"].str.contains("Siberian")]

# Answer check
print(ans1.shape)
ans1.head()

(15, 12)

,Code,Name,Capital/Administrative centre[a],Flag,Coatof arms,Type,Federal district,Economic region,Area(km2)[16],Population[17],Populationdensity(/km2),Yearestablished
2,3,"Buryatia, Republic of",Ulan-Ude,NaN,NaN,republic,Far Eastern,East Siberian,351300,981238,2.79,1923
3,4,Altai Republic,Gorno-Altaysk,NaN,NaN,republic,Siberian,West Siberian,92600,202947,2.19,1922
16,17,Tuva Republic,Kyzyl,NaN,NaN,republic,Siberian,East Siberian,170500,305510,1.79,1944
18,19,"Khakassia, Republic of",Abakan,NaN,NaN,republic,Siberian,East Siberian,61900,546072,8.82,1930
21,22,Altai Krai,Barnaul,NaN,NaN,krai,Siberian,West Siberian,169100,2607426,15.42,1937

[Back to top](#Index:) 

### Problem 2

#### Using the `startswith` method

**5 Points**

Subset the data based on entries in the Economic region column that start with `North`.  Assign your answer as a DataFrame to `ans2` below.

In [5]:
### GRADED

ans2 = russian_states[russian_states["Economic region"].str.startswith("North")]

# Answer check
print(ans2.shape)
ans2.head()

(22, 12)

,Code,Name,Capital/Administrative centre[a],Flag,Coatof arms,Type,Federal district,Economic region,Area(km2)[16],Population[17],Populationdensity(/km2),Yearestablished
0,1,"Adygea, Republic of",Maykop,NaN,NaN,republic,Southern,North Caucasus,7600,447109,58.83,1922
4,5,"Dagestan, Republic of",Makhachkala,NaN,NaN,republic,North Caucasian,North Caucasus,50300,2576531,51.22,1921
5,6,"Ingushetia, Republic of",Magas(Largest city: Nazran),NaN,NaN,republic,North Caucasian,North Caucasus,4000,467294,116.82,1992
6,7,Kabardino-Balkar Republic,Nalchik,NaN,NaN,republic,North Caucasian,North Caucasus,12500,901494,72.12,1936
8,9,Karachay-Cherkess Republic,Cherkessk,NaN,NaN,republic,North Caucasian,North Caucasus,14100,439470,31.17,1957

[Back to top](#Index:) 

### Problem 3: Using the `upper` method

**5 Points**

Use the `upper` method to create a series with the Federal District column all uppercased.  Assign your response as a Series to `ans3` below.

In [6]:
### GRADED

ans3 = russian_states["Federal district"].str.upper()

# Answer check
print(type(ans3))
ans3.head()

<class 'pandas.core.series.Series'>

0           SOUTHERN
1              VOLGA
2        FAR EASTERN
3           SIBERIAN
4    NORTH CAUCASIAN
Name: Federal district, dtype: object

[Back to top](#Index:) 

### Problem 4

#### Examining the Population

**5 Points**
 

Much like the example in the videos, the Population column contains problematic characters that need to be replaced before the column can be converted to a float datatype.  Replace these values and convert the Population column to float datatypes.  Assign the your response as a series to `ans4` below.

In [7]:
### GRADED

ans4 = pd.to_numeric(russian_states["Population[17]"].str.replace(",", "").str.replace("\[.+\]", "", regex=True)).astype('float')

# Answer check
print(type(ans4))
display(ans4.head())
display(ans4.unique())

<class 'pandas.core.series.Series'>

0     447109.0
1    4104336.0
2     981238.0
3     202947.0
4    2576531.0
Name: Population[17], dtype: float64

array([  447109.,  4104336.,   981238.,   202947.,  2576531.,   467294.,
         901494.,   292410.,   439470.,   716281.,  1018674.,   727979.,
         888766.,   949280.,   710275.,  3779265.,   305510.,  1570316.,
         546072.,  1103686.,  1313754.,  2607426.,  5125221.,  2966042.,
        2071210.,  2735139.,  1436570.,   902844.,  1336539.,  1005276.,
        1511620.,  1378941.,  1523990.,  2699223.,  1269568.,  2378803.,
        1148329.,  2581705.,   955281.,  1041641.,   358801.,  2899142.,
        1503529.,   736641.,  1019532.,  1235091.,  1669205.,  1213499.,
         182726.,  6618538.,   892534.,  3524028.,   694355.,  2692251.,
        2079220.,  2179551.,   860262.,  1452941.,  2819421.,   760810.,
        4404013.,  1227910.,  3239737.,  2668310.,   546695.,  4486214.,
        1049574.,  1178443.,  1471459.,  1046039.,  1675758.,  3264841.,
        1382811.,  3603339.,  1155346.,  1367398., 10382754.,  4662547.,
         190915.,    41546.,  1432817.,    53824.,   507006.,  1966801.,
         379200.])