## Codio Activity 1.2: Exploring a DataFrame 

**Expected Time: 30 Minutes**

**Total Points: 12 Points**

In this exercise you will use basic summarization methods on a pandas DataFrame.

## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)

In [6]:
import pandas as pd
import numpy as np

In [7]:
nba = pd.read_csv('data/nba-activity-1.2.csv', index_col = 0)

[Back to top](#Index:) 

## Problem 1

### Describing the data

**4 Points**

Using the DataFrame `nba` loaded above, get a summary of the numeric variables using the `.describe` method.  Assign your results as a DataFrame to `nba_summary` below.

In [8]:
### GRADED

nba_summary = nba.describe()

# Answer check
print(nba_summary)
print(type(nba_summary))

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.570000e+02
mean    17.678337   26.938731  221.522976  4.726121e+06
std     15.966090    4.404016   26.368343  5.218945e+06
min      0.000000   19.000000  161.000000  0.000000e+00
25%      5.000000   24.000000  200.000000  1.000000e+06
50%     13.000000   26.000000  220.000000  2.658240e+06
75%     25.000000   30.000000  240.000000  6.331404e+06
max     99.000000   40.000000  307.000000  2.500000e+07
<class 'pandas.core.frame.DataFrame'>

[Back to top](#Index:) 

### Problem 2

### Getting the missing data information 

**4 Points**

In the National Basketball Association (NBA), there are some athletes that do not take the usual career path of playing for a college and then become a professional athlete. Some athletes skip college and go professional directly out of high school. How many athletes in this dataframe skipped college and went straight to the professional level?

To find this answer, create a series with the counts of null values for each column in the `nba` DataFrame.  Assign your solution as a pandas Series to `nba_nulls` below.  **HINT**: Use the `.isnull` and `.sum` methods together.

In [9]:
### GRADED

nba_nulls = nba.isnull().sum()

# Answer check
print(nba_nulls)
print(type(nba_nulls))

Name         0
Team         0
Position     0
Height       0
College     84
Number       0
Age          0
Weight       0
Salary       0
dtype: int64
<class 'pandas.core.series.Series'>

[Back to top](#Index:) 

## Problem 3

### Examining top 10 rows

**4 Points**

Use the `.head` method to display the first 10 rows of the nba data.  Assign your results as a DataFrame to `nba_head` below.

In [10]:
### GRADED

nba_head = nba.head(10)

# Answer check
print(type(nba_head))
print(nba_head.shape)

<class 'pandas.core.frame.DataFrame'>
(10, 9)